@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}
.container{
  background-color: #F9E6E6;
  height: 100vh;
  width: 100%;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
}
.containerCentred{
  background-color: #F9E6E6;
  height: 100vh;
  width: 100%;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: center;
}
.mainContent{
  margin: 0 auto;
}
.mainContentCentred{
  text-align: center;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.headerCentred{
  margin-bottom: 50px;
}
.mainPart{
  display: flex;
  justify-content: space-between;
}
.headerLogo{
  font-weight: bold;
  font-size: 36px;
  color: #474BCA;
}
.signUpButton{
  font-weight: bold;
  font-size: 20px;
  padding: 10px 40px;
  color: white;
  background-color: #474BCA;
  border-radius: 10px;
  cursor: pointer;
}
.loginNow{
  font-weight: bold;
  color: #000000;
  font-size: 48px;
  margin-bottom: 20px;
}
.welcomeBack{
  color: #000000;
  font-size: 20px;
  margin-bottom: 20px;
}
.inputHeader{
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  margin-bottom: 10px;
}
.inputTarget{
  width: 400px;
  padding: 12px 20px;
  background-color: #FFA3BE;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: black;
  margin-bottom: 20px;
}
.loginButton{
  width: 400px;
  padding: 12px 40px;
  background-color: #474BCA;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.main-page-container{
  background-color: #F9E6E6;
  height: 100vh;
  width: 100%;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
}
.navbar{
  display: flex;
  justify-content: space-between;
}
.mainPageLogo{
  font-weight: bold;
  font-size: 36px;
  color: #474BCA;
}
.logoutButton{
  font-weight: bold;
  font-size: 20px;
  padding: 10px 40px;
  color: white;
  background-color: #474BCA;
  border-radius: 10px;
  cursor: pointer;
}
.cipherContainer{
  text-align: center;
  margin-top: 60px;
}
.cipherLogo{
  font-weight: bold;
  font-size: 36px;
  color: #474BCA;
  margin-bottom: 20px;
}
.labelText{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 22px;
  color: #474BCA;
  text-align: left;
}
.inputCypher{
  text-align: left;
  width: 400px;
}
.inputCypherValue{
  width: 400px;
  border: 1px solid #474BCA;
  border-radius: 10px;
  padding: 10px 20px;
  resize: none;
}
.centredContent{
  width: 400px;
  margin: 0 auto;
}
.labelTextResult{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}
.processButton{
  font-weight: bold;
  font-size: 20px;
  padding: 10px 40px;
  color: white;
  background-color: #474BCA;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.listContainer{
  background-color: #F9E6E6;
  height: 100vh;
  width: 100%;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
}
.userLogo{
  font-weight: bold;
  font-size: 36px;
  color: #474BCA;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 50px;
}
.userTable{
  width: 100%;
  border-collapse: collapse;
}
.userHeader{
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  color: #474BCA;

}
.userRow{
  border: 1px solid #474BCA;
  font-weight: bold;
  font-size: 18px;
}
.padding{
  padding: 20px 5px;
}